

#hello {
    padding-left: 10px;
    border-radius: 10px;
    position: absolute;
    user-select: none;
    font-size: 2em;
    width: fit-content;
    color: #EEEEEE;
    background-color: #FD7013;
}