* {
    font-family: 'Andale Mono', monospace;
}
body {
    background-color: skyblue;
}
img {
    width: 10em;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}
hr {
    border: 1px solid skyblue;
}
/* --- GOOGLE LOGIN --- */
.authDiv {
    background-color: white;
    border-radius: 2em;
    width: 80%;
    padding: 2em;
    display: block;
    margin: auto;
}
.authDiv form{
    margin-top: 1em;
}

/* buttons */
.authButton {
    font-variant: small-caps;
    display: block;
    margin: auto;
}
/* sign-up */
#signUpWithEmail {
    width: 50%;
}
#signUpWithEmail:hover {
    font-weight: bolder;
    background-color: rgb(0, 105, 175);
    color: white;
}
/* google */
#google-logo {
    height: 1em;
    vertical-align: text-bottom;
}
#signInWithGoogle {
    background-color: white;
    color: rgb(0, 105, 175);
    border: 2px solid ;
    border-color: rgb(0, 105, 175);
    width: 100%;
    margin-bottom: 1em;
}
#signInWithGoogle:hover{
    font-weight: bolder;
    box-shadow: 0px 0px 0.3em gray;
}
#signInWithGoogle:active {
    font-weight: bolder;
    background-color: rgb(0, 105, 175);
    color: white;
}


/* --- INPUT DIVS --- */
select, input {
    display: block;
    margin: auto;
    width: 50%;
}
.form{
    background-color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 1em;
    width: 80%;
    padding: 1em;
    display: block;
    margin: auto;
    margin-left: 2em;;
}
#logout
{
    background: none;
}

/* --- BUTTONS --- */
/* all */
button {
    font-size: 1.3em;
    border-radius: 2em;
    border-style: none;
    width: fit-content;
    padding: 0.5em;
}
/* submit */
.form button, .form button:visited{
    background-color: skyblue;
    color: white;
    margin-top: 1em;
    transition: padding-left 1s, padding-right 1s;
}
.form button:hover{
    background-color: hsl(197, 71%, 50%);
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.form button:active, .form button:focus {
    background-color: white;
    color: skyblue;
    font-weight: 700;
}
.form button:disabled {
    background-color: gray;
    color: white;
    padding: 1em;
    transition: none;
}
/* specific */
#start-btn {
    background-color:hsl(150, 100%, 37%);
    color: white;
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 50%;
    transition: padding 1s;
}
#start-btn:hover{
    font-weight: bolder;
    padding: 1.5em;
}
#start-btn:active, .form button:focus {
    background-color: white;
    color: hsl(150, 100%, 37%);
}
#start-btn:disabled {
    background-color: gray;
    transition: none;
}

/* --- GRIDS --- 
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas:
      "word img"
      "country start-btn";
}
#word-form {grid-area: word};
img {grid-area: img};
#country-form {grid-area: country};
#start-btn {grid-area: start-btn};
*/
